* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif, "Times New Roman";
  overflow-x: hidden;
}

nav {
  height: 7vh;
  align-items: center;
  overflow-y: hidden;
}

/*mmmmmmmmmmmmmmmmmmmmm navbar styling for the page mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm*/
.navs {
  position: fixed;
  width: 100vw;
  background-color: red;
  height: 7vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9999;
}

/*mmmmmmmmmmmmmmm links  styling mmmmmmmmmmmmmmmmmm */
.links {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  padding-right: 15%;
  padding-top: 5px;
  font-size: 14px;
  font-size: 16px;
  font-style: oblique;
}

.links a {
  color: white;
  text-decoration: none;
}

/*  mmmmmmmmmmmmmmmmmmm logo styling mmmmmmmmmmmmmmmmm*/
.logo {
  color: white;
}
/* mmmmmmmmmmmmmmmmm burger styling for the nav mmmmmmmmmmmmmm*/
.burger div {
  background-color: black;
  width: 35px;
  margin: 6px 0;
  height: 5px;
}
.md {
  display: none;
  font-style: oblique;
}

.burger {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    position: relative;
  }
  /*mmmmmmmmmmmmmmmmmmmmm navbar styling for the page mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm*/

  .navs {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    padding: 25px;
    position: fixed;
    align-content: space-around;
  }
  /*mmmmmmmmmmmm logo mmmmmmmmm*/
  .logo {
    font-style: oblique;
    font-weight: bold;
  }
  /*mmmmmmmmmmmmmmm links  styling mmmmmmmmmmmmmmmmmm */
  .links {
    left: 0;
    top: 8vh;
    position: absolute;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    text-align: center;
    height: 95vh;
    width: 100%;
    transform: translateX(-100%);
    transition: all 0.4s ease-out;
  }
  /*mmmmmmmmmmmmmmmmmm links translating for showing mmmmmmmmmmmmmmmmmmmm*/
  .navLinks {
    transform: translateX(0%);
  }
  .md {
    display: flex;
    flex-direction: column;
  }
  .submit {
    display: none;
  }
  .burger {
    display: block;
    padding-right: 0px;
  }
  /*mmmmmmmmmmmmmmmmm burger animation for menu shows mmmmmmmmmmmmmmmm*/
  .take .line1 {
    transform: translate(0px, 11px) rotate(-45deg);
  }
  .take .line2 {
    opacity: 0;
  }
  .take .line3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  /* hero part */
  #start {
    transform: translate(-10%);
    left: 6% !important;
  }
}

/* forms */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  position: relative;
}

.tex {
  border: none;
  width: 700px;
  height: 40px;
  padding: 0 15px;
  background-color: whitesmoke;
}
.field {
  position: absolute;
  border: none;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0 15px;
  background-color: rgb(238, 89, 89);
  color: white;
}

.top {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("assets/j.jpg");
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
}

/* card shadow */
.card:hover {
  transition: all ease-out 0.5s;
  box-shadow: 60px -16px teal;
  transform: translateY(3px);
}

/* hero part */
#start {
  padding-left: 16% !important;
}
